@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9393 0.0288 266.368);
    --foreground: oklch(0.2799 0.1199 275.3864);
    --card: oklch(0.9643 0.0171 256.2797);
    --card-foreground: oklch(0.2599 0.1001 274.6637);
    --popover: oklch(0.9744 0.0134 240.9501);
    --popover-foreground: oklch(0.2799 0.1199 275.3864);
    --primary: oklch(0.4799 0.2209 275.0355);
    --primary-foreground: oklch(0.995 0.0035 219.5319);
    --secondary: oklch(0.8193 0.045 265.5456);
    --secondary-foreground: oklch(0.2782 0.09 270.0608);
    --muted: oklch(0.8793 0.0305 260.7076);
    --muted-foreground: oklch(0.4791 0.0498 265.7985);
    --accent: oklch(0.7198 0.1401 84.5321);
    --accent-foreground: oklch(0.2211 0.0793 264.8658);
    --destructive: oklch(0.5798 0.2099 24.939);
    --destructive-foreground: oklch(0.995 0.0035 219.5319);
    --border: oklch(0.8408 0.024 264.4381);
    --input: oklch(0.8892 0.0198 260.169);
    --ring: oklch(0.6194 0.18 274.9002);
    --chart-1: oklch(0.6444 0.1911 275.0664);
    --chart-2: oklch(0.7198 0.1401 84.5321);
    --chart-3: oklch(0.5791 0.2205 289.9107);
    --chart-4: oklch(0.6964 0.1332 226.0343);
    --chart-5: oklch(0.5396 0.1797 319.7957);
    --sidebar: oklch(0.9555 0.0212 259.1907);
    --sidebar-foreground: oklch(0.2599 0.1001 274.6637);
    --sidebar-primary: oklch(0.4799 0.2209 275.0355);
    --sidebar-primary-foreground: oklch(0.995 0.0035 219.5319);
    --sidebar-accent: oklch(0.8193 0.045 265.5456);
    --sidebar-accent-foreground: oklch(0.2782 0.09 270.0608);
    --sidebar-border: oklch(0.8408 0.024 264.4381);
    --sidebar-ring: oklch(0.6194 0.18 274.9002);
    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --radius: 0.875rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.0927 0.0475 272.2156);
    --foreground: oklch(0.8799 0.0279 253.2494);
    --card: oklch(0.1353 0.0481 280.5736);
    --card-foreground: oklch(0.8605 0.0247 248.1151);
    --popover: oklch(0.1559 0.0491 285.082);
    --popover-foreground: oklch(0.8799 0.0279 253.2494);
    --primary: oklch(0.6467 0.2036 289.7943);
    --primary-foreground: oklch(0.1116 0.03 267.767);
    --secondary: oklch(0.2197 0.0491 274.7789);
    --secondary-foreground: oklch(0.8812 0.0151 80.7036);
    --muted: oklch(0.2007 0.0393 269.3802);
    --muted-foreground: oklch(0.6197 0.0255 266.7809);
    --accent: oklch(0.6525 0.1337 85.0357);
    --accent-foreground: oklch(0.1116 0.03 267.767);
    --destructive: oklch(0.6411 0.2301 20.0147);
    --destructive-foreground: oklch(0.9193 0.0099 87.474);
    --border: oklch(0.2392 0.0445 275.0484);
    --input: oklch(0.2603 0.0475 274.0642);
    --ring: oklch(0.7215 0.1554 289.5001);
    --chart-1: oklch(0.6877 0.1771 289.8294);
    --chart-2: oklch(0.6525 0.1337 85.0357);
    --chart-3: oklch(0.6199 0.2303 299.773);
    --chart-4: oklch(0.7045 0.1627 240.467);
    --chart-5: oklch(0.58 0.2105 329.8831);
    --sidebar: oklch(0.1159 0.0421 281.8975);
    --sidebar-foreground: oklch(0.8605 0.0247 248.1151);
    --sidebar-primary: oklch(0.6467 0.2036 289.7943);
    --sidebar-primary-foreground: oklch(0.1116 0.03 267.767);
    --sidebar-accent: oklch(0.2197 0.0491 274.7789);
    --sidebar-accent-foreground: oklch(0.8812 0.0151 80.7036);
    --sidebar-border: oklch(0.2392 0.0445 275.0484);
    --sidebar-ring: oklch(0.7215 0.1554 289.5001);
    --font-sans:
        ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --radius: 0.875rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
    button:not(:disabled) {
        @apply cursor-pointer;
    }
    button:disabled {
        @apply cursor-not-allowed;
    }
}
